<div class="ambient-field" aria-hidden="true">
  <div class="ambient-orbit">
    <span>·</span><span>+</span><span>×</span><span>·</span>
  </div>
  <div class="ambient-bug">
    <pre>  ⢀⣴⣶⣄
⠰⣾⣿⣿⣿⣷⠆
  ⠙⠿⠿⠋</pre>
    <span class="bug-trail">· ·  ·   ·</span>
  </div>
</div>
